body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #BBEEFF;
}

a {
  color: #00B7FF;
}

label{
	display: block;
	font-size: 32px;
	font-weight: bold;
}

form{
	margin: auto;
}

textarea {
    resize: none;
}

button{
	margin: 3px;
	background: #0099ff;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	background-image: -moz-linear-gradient(270deg, #0099ff 0%, #004c7f 100%);
	background-image: -webkit-linear-gradient(270deg, #0099ff 0%, #004c7f 100%);
	background-image: -o-linear-gradient(270deg, #0099ff 0%, #004c7f 100%);
	background-image: linear-gradient(180deg, #0099ff 0%, #004c7f 100%);
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	border-radius: 4px;
	border: 1px solid #ffffff;
	width: 70px;
	height: 30px;
}

.tweet{
	border-bottom: 1px #333 solid;
	padding-top: 20px;
	padding-bottom: 10px;
}

.content{
	font-size: 18px;
}

.delete{
	border: none;
	background-color: none;
	text-decoration: none;
}

.deleteTweet, .tweetInfo {
	display: inline;
}

.tweetInfo{
	color: #AAAAAA;
}

#container{
	width: 800px;
	margin: auto;
}

#tweetFeed{
	width: 470px;
	display: inline-block;
	padding: 15px;
	margin-left: 5px;
	background-color: #FFFFFF;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

#compose{
	width: 225px;
	margin: auto;
}

#composeTweet{
	width: 250px;
	display: inline-block;
	padding: 15px;
	vertical-align: top;
	margin-left: 5px;
	background-color: #FFFFFF;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#sendTweet{
	display: block;
	margin-left: 150px;
	background: #0099ff;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	background-image: -moz-linear-gradient(270deg, #0099ff 0%, #004c7f 100%);
	background-image: -webkit-linear-gradient(270deg, #0099ff 0%, #004c7f 100%);
	background-image: -o-linear-gradient(270deg, #0099ff 0%, #004c7f 100%);
	background-image: linear-gradient(180deg, #0099ff 0%, #004c7f 100%);
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	border-radius: 4px;
	border: 1px solid #ffffff;
	width: 70px;
	height: 30px;
}

#tweetText{
	width: 225px;
	height: 100px;
	background-color: #EEEEEE;
}

#userName{
	width: 300px;
	font-size: 30px;
	margin: auto;
}


#signIn{
	display: block;
	height: 300px;
	width: 800px;
	z-index: 1;
	background-color: #FFFFFF;
	vertical-align: center;
}

#signinForm{
	width: 400px;
	height: 250px;
	padding: 25px;
	vertical-align: center;
}


